{% load static %}
<meta name="format-detection" content="telephone=no" />
        <meta name="keywords" content="Medic, Medical Center" />
        <meta name="description" content="Responsive Medical Health Template" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--style-->
        <link href='//fonts.googleapis.com/css?family=octin prison:300,400,700' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=octin prison+Condensed:300,400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css1/reset.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/superfish.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/prettyPhoto.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/jquery.qtip.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/menu_styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/animations.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/responsive.css">
        <link rel="stylesheet" type="text/css" href="/static/css1/odometer-theme-default.css">
      
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <body>
             <style>
                     .box_header{
                        font-family: octin prison;
                       font-size: 20px;

                     }  
                     
                     
                     .scroll_top{
                        font-family: octin prison;
                       font-size: 25px;

                     }
                   
                       
                        </style>
<footer class="footer-area">
    <!-- Footer Logo -->
    <div class="footer-logo mb-100">
        <a href="{% url 'login-page' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Footer Content -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content text-center">
                    <!-- Social Info -->
                    <div class="footer_container">
                <div class="footer clearfix">
                    <div class="row">
                        <div class="column column_1_3">
                            <h4 class="box_header">About News_Portal </h4>
                            <p class="padding_top_bottom_25">Maecenas mauris elementum, est morbi interdum cursus at elite imperdiet libero. Proin odios dapibus integer an nulla augue pharetra cursus.</p>
                            <div class="row">
                                <div class="column column_1_2">
                                    <h5>News_Portal Ltd.</h5>
                                    <p>
                                        33 Farlane Street<br>
                                        25-100 Keilor East,<br>
                                        Australia
                                    </p>
                                </div>
                                <div class="column column_1_2">
                                    <h5>Phone &amp; Fax</h5>
                                    <p>
                                        Phone: 1-800-64-38<br>
                                        Fax: 1-800-64-39
                                    </p>
                                </div>
                            </div>

                            <h4 class="box_header page_margin_top">Get In Touch With Us</h4>
                            <ul class="social_icons dark page_margin_top clearfix">
                                <li>
                                    <a target="_blank" title="" href="#" class="social_icon facebook" style="font:20px;">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" title="" href="#" class="social_icon twitter">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a title="" href="mailto:contact@pressroom.com" class="social_icon mail">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a title="" href="#" class="social_icon skype">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a title="" href="#" class="social_icon envato">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a title="" href="#" class="social_icon instagram">
                                        &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a title="" href="#" class="social_icon pinterest">
                                        &nbsp;
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="column column_1_3">
                            <h4 class="box_header">Latest Posts</h4>
                            <div class="vertical_carousel_container clearfix">
                                <ul class="blog small vertical_carousel autoplay-1 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                    <li class="post">
                                        <a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">
                                            <span class="icon small gallery"></span>
                                            <img src='/static/images/samples/100x100/image_06.jpg' alt='img'>
                                        </a>
                                        <div class="post_content">
                                            <h5>
                                                <a href="post_gallery.html" title="Study Linking Illnes and Salt Leaves Researchers Doubtful">Study Linking Illnes and Salt Leaves Researchers Doubtful</a>
                                            </h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="category_health.html" title="HEALTH">HEALTH</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">
                                            <img src='/static/images/samples/100x100/image_12.jpg' alt='img'>
                                        </a>
                                        <div class="post_content">
                                            <h5>
                                                <a href="post.html" title="Syrian Civilians Trapped For Months Continue To Be Evacuated">Syrian Civilians Trapped For Months Continue To Be Evacuated</a>
                                            </h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="category_world.html" title="WORLD">WORLD</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">
                                            <img src='/static/images/samples/100x100/image_02.jpg' alt='img'>
                                        </a>
                                        <div class="post_content">
                                            <h5>
                                                <a href="post.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
                                            </h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="post">
                                        <a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">
                                            <img src='/static/images/samples/100x100/image_13.jpg' alt='img'>
                                        </a>
                                        <div class="post_content">
                                            <h5>
                                                <a href="post.html" title="Nuclear Fusion Closer to Becoming a Reality">Nuclear Fusion Closer to Becoming a Reality</a>
                                            </h5>
                                            <ul class="post_details simple">
                                                <li class="category"><a href="category_science.html" title="SCIENCE">SCIENCE</a></li>
                                                <li class="date">
                                                    10:11 PM, Feb 02
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="column column_1_3">
                            <h4 class="box_header">Latest Galleries</h4>
                            <div class="horizontal_carousel_container big page_margin_top">
                                <ul class="blog horizontal_carousel visible-1 autoplay-0 scroll-1 navigation-1 easing-easeInOutQuint duration-750">
                                    <li class="post">
                                        <a href="post_gallery.html" title="Struggling Nuremberg Sack Coach Verbeek">
                                            <span class="icon gallery"></span>
                                            <img src='/static/images/samples/330x242/image_03.jpg' alt='img'>
                                        </a>
                                        <h5 class="with_number">
                                            <a href="post_gallery.html" title="Struggling Nuremberg Sack Coach Verbeek">Struggling Nuremberg Sack Coach Verbeek</a>
                                            <a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                        </h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">
                                            <span class="icon gallery"></span>
                                            <img src='/static/images/samples/330x242/image_14.jpg' alt='img'>
                                        </a>
                                        <h5 class="with_number">
                                            <a href="post_gallery.html" title="Built on Brotherhood, Club Lives Up to Name">Built on Brotherhood, Club Lives Up to Name</a>
                                            <a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                        </h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="post">
                                        <a href="post_gallery.html" title="New Painkiller Rekindles Addiction Concerns">
                                            <span class="icon gallery"></span>
                                            <img src='/static/images/samples/330x242/image_04.jpg' alt='img'>
                                        </a>
                                        <h5 class="with_number">
                                            <a href="post_gallery.html" title="New Painkiller Rekindles Addiction Concerns">New Painkiller Rekindles Addiction Concerns</a>
                                            <a class="comments_number" href="post_gallery.html#comments_list" title="2 comments">2<span class="arrow_comments"></span></a>
                                        </h5>
                                        <ul class="post_details simple">
                                            <li class="category"><a href="category_sports.html" title="SPORTS">SPORTS</a></li>
                                            <li class="date">
                                                10:11 PM, Feb 02
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row page_margin_top_section">
                        <div class="column column_3_4">
                            <ul class="footer_menu">
                                <li>
                                   <a href="category_world.html" title="World"> <h4 style=" font-family: octin prison;
                       font-size: 16px;">World</a></h4>
                                </li>
                                <li>
                                    <a href="category_health.html" title="Health"><h4 style=" font-family: octin prison;
                       font-size: 16px;">Health</a></h4>
                                </li>
                                <li>
                                    <a href="category_sports.html" title="Sports"><h4 style=" font-family: octin prison;
                       font-size: 16px;">Sports</a></h4>
                                </li>
                                <li>
                                    <a href="category_science.html" title="Science"><h4 style=" font-family: octin prison;
                       font-size: 16px;">Science</a></h4>
                                </li>
                                <li>
                                    <a href="category_lifestyle.html" title="Lifestyle"><h4 style=" font-family: octin prison;
                       font-size: 16px;">Lifestyle</a></h4>
                                </li>
                            </ul>
                        </div>
                        <div class="column column_1_4">
                            <a class="scroll_top" href="#top" title="Scroll to top">Top</a>
                        </div>
                    </div>
                    <div class="row copyright_row">
                        <div class="column column_2_3">
                            © Copyright <a href="http://quanticalabs.com" title="QuanticaLabs" target="_blank">Knobly Cream</a> - News_Portal. <a href="http://themeforest.net/item/pressroom-responsive-news-and-magazine-template/9066845?ref=QuanticaLabs" title="PressRoom Template" target="_blank"></a> 
                        </div>
                        <div class="column column_1_3">
                            <ul class="footer_menu">
                                <li>
                                    <h6 style=" font-family: octin prison;
                       font-size: 16px;">
                       <a href="about.html" title="About">About</a></h6>
                                </li>
                                <li>
                                    <h6 style=" font-family: octin prison;
                       font-size: 16px;"><a href="authors.html" title="Authors">Authors</a></h6>
                                </li>
                                <li>
                                    <h6 style=" font-family: octin prison;
                       font-size: 16px;"><a href="contact.html" title="Contact Us">Contact Us</a></h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
  
                </div>
            </div>
        </div>
    

</footer>